header h1 {color: white;
           text-align: center;
}
/* Background Color & Nav */

body {background-color: gray;
}

nav {
    text-align: center;
    margin: 0px 20px 0px 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 20%;
}

nav ul li a {
    display: inline-block;
    color: lightblue;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px 35px 20px;
}

nav li a:hover {
    text-decoration: overline;
}

/* Image Formatting */

img {padding-bottom: 20px;}

.burger {
    width: 45%;
    height: 45%;
    border-radius: 20%;
    }

.waffle {
    width: 35%;
    border-radius: 20%;
}

/*About & Event Sections */

.about {
    clear: both;
    float: left;
    width: 40%;
    padding-right: 25px;
}


.about h3, .events h3 {
    color: blue;
    text-decoration: underline;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 20px 0px 20px;
}

.about article {
    color: white;
    font-size: 1em;
    padding-top: 10px;
    margin: 0px 20px 0px 20px;
}

.events {
    float: left;
    width: 40%;
    padding-left: 20px;
}

.events table {
    border: 1px solid white;
}

.events th {
    font-size: 1.3em;
    padding: 10px;
    color: lightblue;
    text-decoration: underline;
    border: 1px solid white;
}

.events td {
    padding: 10px;
    color: white;
    border: 1px solid white;
}